#menu
{
	position: fixed;
	width: 75%;
	height: 35px;
	display: flex; 
  	align-items: center;
  	background-color: #e4e7eb;
  	padding: 10px;
	justify-content: center;
}

  #menu li:not(:last-child)::after {
	content: "|";
  }
  
  #menu li {
    display: inline-block;
    
	
  }
  
  #menu li a {
    text-decoration: none;
    color: black;
    padding: 10px;
	font-size: 1.3vw;
	
  }
  

body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: #0b0c0c;
	background-color: #408E91;

}

.image-conrtainer{
	
  display: flex;
  justify-content: center;
}




label.logo{
	color: rgba(11, 1, 1, 0.901);
	font-size: xx-large;
	font-size: 2vw; 
	padding: 2vw;
}

.about{
	/* text-align: center; */
	
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  
}


p {
	font-size: xx-large;
  text-align: center;
  line-height: 0.5;
  position: relative;
  padding: 20px 0;
  }
  
  p:before,
  p:after {
  content: "  .......  ";
 
  font-size: 0.7em;
  letter-spacing: 0.3em;
  height: 20px;
  
}

p:after {
  right: 0;
  
}

h{
	font-size: large;
	padding: 20px;
	position: center;
}


.button-33 {
  /* margin-bottom: 20px; */
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(205, 26, 218, 0.2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(19, 3, 3);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 200px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
#message{
	width: 300px;
  	height: 80px;
}
li{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: x-large;
}
h4{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: xx-large;
}
h{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: xx-large;
	color: darkorange
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
  
